<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_admin_page_index') }}">Pages</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ path('document_index') }}">Documents</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="{{ path('app_admin_categorie_index') }}">Catégories</a>
	</li>
</ul>