/********************** AMELIPRO - SASS *********************/

/* inject:imports */
/* endinject */

/********************** dionis-tv - SASS **************************/

body{
    background-color: $blanc;
    background-image: url("../img/bg-bottom.png");
    background-position-y: 350px;
    background-repeat: no-repeat;
    background-size: 30%;
}

main {
   background-color: transparent !important;
   background-image: url("../img/bg-top.png");
   background-position: top right;
   background-repeat: no-repeat;
   background-size: 40%;
}

article {
    margin-top: 50px;
}

h2 {
    font-family: $opensans-bold;
}

.actualites {

    & h2 {
        color: #e87c54;
    }

    & img {
        border: 1px solid $gris-3;
        max-width: 150px;
    }
}

.vie-des-projets{

    h2{
        color: #2A9CA9;
    }
    margin-left: 40px;
    & img {
        border: 1px solid $gris-3;
    }
}


.agenda{
    h2, h3{
        color: #29598C;
    }

    h3{
        border-bottom: 1px solid $gris-5;
        padding-left: 50px;
        display: inline-block;
    }
}


.btn-menu{
    background-image: url("../img/btn-menu.png");
    background-size: cover;
    width: 40px;
    height: 40px;
    display: block;
    left: 0;
    bottom: 0;
    position: absolute;
}

.menu{
    padding: 30px;
    background-color: #29598C;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3000px;

    color: $blanc;
    
    font-size: 2rem;
    font-weight: bold;

    & a{color: $blanc;}
}