{% extends 'base2.html.twig' %}

{% block title %}Liste des pages{% endblock %}

{% block body %}


  <main class="main-large">


    <header>
      <div class="row">
        <div class="col-6"><img src="img/logo.png" class="mt-3" width="200" alt="DIONIS"></div>
        <div class="col-6">



        </div>
      </div>

    </header>
    <article>

      <div class="row">
        <div class="col-8">

          <div class="vie-des-projets">
            <h2>Titre de la page</h2>
            
            <p>
                  {{page.titre}}

            </p>

            <p>
        
            </p>
            <p>
             
             


            </p>

            <p>
        
            </p>

          </div>
        </div>
        
        <div class="col-4">
          <img src="img/logo.png" class="mt-3" width="w-100" alt="image">
        </div>
      </div>

    </article>

    <a href="page.html" class="btn-menu" data-toggle="collapse" data-target=".menu"></a>

    <div class="menu collapse">

      <div class="row">
        <div class="col-9">MENU</div>
        <div class="col-3 text-right">
          <a href="#" data-toggle="collapse" data-target=".menu">&times;</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul>
            <li><a href="index.html">Accueil</a></li>

            <li><a href="page.html">Page 1</a>
              <ul>
                <li><a href="page.html">Sous Page 1</a></li>
                <li><a href="page.html">Sous Page 2</a></li>
              </ul>
            </li>
            <li><a href="page.html">Page 2</a></li>
            <li><a href="page.html">Page 3</a></li>
            <li><a href="page.html">Page 4</a></li>
            <li><a href="page.html">Page 5</a></li>
          </ul>
        </div>
      </div>
    </div>




  </main>
  <!-- JS library -->
  <script src="js/amelipro.min.js" type="text/javascript"></script>

{% endblock %}
