{% extends 'base.html.twig' %}   
         
{% form_theme formModifCat 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class = "jumbotron">
    <h2> MODIFICATION DE ma categorie </h2>
</div>

{{ form_start(formModifCat) }}

{{ form_widget(formModifCat) }}
<button type="submit" class="btn btn-success">envoyer</button>
{{ form_end(formModifCat) }}

{% endblock %}


