<a href="page.html" class="btn-menu" data-toggle="collapse" data-target=".menu" ></a>

<div class="menu collapse">

    <div class="row">
        <div class="col-9">MENU</div>
        <div class="col-3 text-right">
            <a href="#" data-toggle="collapse" data-target=".menu" >&times;</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul>
                <li><a href="index.html">Accueil</a></li>

                <li><a href="page.html">Page 1</a>
                    <ul>
                        <li><a href="page.html">Sous Page 1</a></li>
                        <li><a href="page.html">Sous Page 2</a></li>
                    </ul>
                </li>
                <li><a href="page.html">Page 2</a></li>
                <li><a href="page.html">Page 3</a></li>
                <li><a href="page.html">Page 4</a></li>
                <li><a href="page.html">Page 5</a></li>
            </ul>
        </div>
    </div>
</div>

