{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau document{% endblock %}

{% block body %}
<a href="{{path('admin')}}" class="btn btn-primary"> retour vers l'accueil </a> 
    <br>
    <br>
    <br>
    <br>
    <br>
<a href="{{path('document_index')}}" class="btn btn-primary"> retour vers la liste</a> 
        <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Ajout d'un nouveau document</h1>

    {{ include('document/_form.html.twig') }}



{% endblock %}
